<template id="launcher-row-template">
    <div class="char-row">
        <div class="char-info">
            <span class="char-name text-bold text-light-gray"></span>
            <span class="char-path text-small text-gray"></span>
        </div>
        <div class="flex-gap-10">
            <button class="btn btn-primary bg-purple" style="font-size:0.8em;">LOAD</button>
            <button class="btn btn-delete btn-del" title="Delete Permanently">&times;</button>
        </div>    
    </div>
</template>