<template id="skill-row-template">
    <div class="skill-row flex-row">
        <span class="skill-name"></span>
        
        <div class="flex-gap-10" style="align-items: center;">
            <select class="skill-select"style="width: 30px; text-align-last:center;">
                <option value="0">-</option>
                <option value="1">P</option>
                <option value="2">E</option>
            </select>
            <div class="roll-val skill-bonus"></div>
        </div>
    </div>
</template>