<template id="stat-card-template">
    <div class="card">
        <div class="stat-header">
            <div>
                <div class="stat-name"></div>
                <div class="stat-mod"></div>
            </div>
            <input type="number" class="stat-input">
        </div>
        
        <div class="skills-wrapper"></div> 

        <div class="save-row">
            <span class="text-muted">Saving Throw</span>
            <span class="roll-val save-btn"></span>
        </div>
    </div>
</template>