<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Asphorus Sheet 2024</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>

    {% include 'partials/layout_header.html' %}

    <div class="main-layout">
        <div class="left-panel">
            {% include 'partials/layout_sidebar.html' %}
        </div>

        <div class="dashboard-container">
            {% include 'partials/layout_dashboard.html' %}
        </div>
    </div>

    <div id="log"></div>

    {% include 'partials/dialogs_custom.html' %}
    {% include 'partials/action_dialog.html' %}
    {% include 'partials/skill_view.html' %} 
    {% include 'partials/stat_card.html' %} 
    {% include 'partials/coin_box.html' %}
    {% include 'partials/list_item_parts.html' %}

    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>